body{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
canvas{
    border: 3px solid black;
}
.block{
    border: none;
    border-radius: 10px;
    
}
.yy{
    background-color: aquamarine;
}
.tt{
    background-color: aqua;
}
